@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*
PRIMARY COLORS
BandSite-Black: Primary text color for dark on light background. Dark background color
-used for social icons
-bandsite logo 

Silver: Seconday text color. Inactive CTA text color. 

White: Primary text color for light on dark background. Light background color. Active CTA text color.
-active and hover links


SECONDARY COLORS
BandSite-DarkBlack: CTA hover state.

Mercury: Divider line. Form field outline.
-inactive links

Alabaster: Alternative light background color
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.portfolio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cad2c5;
}

.nitro-coffee-shop {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff0ed;
  color: #393939;
}

.travel-site {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFFFF;
}

.travel-bloom {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #191d1a;
  width: 100%;
  padding: 0.5em;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header__container {
  display: flex;
}
.header__site-name {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25em;
}

.nav-bar {
  list-style-type: none;
  position: absolute;
  top: 3.7em;
  left: 0;
  background-color: #191d1a;
  width: 100%;
  padding: 1em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.nav-bar__links {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__links:hover {
  background-color: #0a3f3f;
}
.nav-bar__links:active {
  background-color: #007c8c;
}

.search-bar {
  width: 60%;
  height: 2.8em;
  background-color: #fff;
  border-radius: 2em;
  padding: 0 0.75em;
  display: flex;
  justify-content: space-around;
}
.search-bar__input:focus {
  border: 2px solid red;
}

#searchInput {
  border: #fff;
  width: 100%;
  color: #0a3f3f;
  border-radius: 2em;
  position: relative;
  right: 0.7em;
  padding: 0 1em;
}
#searchInput::-moz-placeholder {
  color: #0a3f3f;
}
#searchInput::placeholder {
  color: #0a3f3f;
}

.icons {
  width: 1.5em;
}
.icons__logo {
  filter: brightness(0) invert(1) drop-shadow(0.5px 0 white) drop-shadow(-0.5px 0 white) drop-shadow(0 0.5px white) drop-shadow(0 -0.5px white);
  width: 2.5em;
}
.icons__search {
  width: 1em;
}
.icons--smaller {
  width: 1em;
}
.icons--bigger {
  width: 1.6em;
}

.buttons {
  background-color: #007c8c;
  color: #fff;
  border: #0a3f3f;
  padding: 0.75em 0;
  width: 9em;
  border-radius: 0.4em;
  font-size: 1em;
  font-weight: 600;
}
.buttons--hidden {
  display: none;
}
.buttons:hover {
  background-color: #0a3f3f;
}
.buttons:active {
  background-color: #023638;
}

.main {
  background-image: url(../../assets/images/TravelBloom/images/downtown-nyc.jpg);
  background-repeat: no-repeat;
  background-size: 100% 60em;
  height: 60em;
}
.main::before {
  content: "";
  background-color: rgba(2, 54, 56, 0.6);
  position: absolute;
  top: 14.2em;
  left: 0;
  width: 100%;
  height: 47.8em;
}
.main__container {
  position: relative;
  top: 15em;
  margin: 2em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main__socials-section {
  width: 10%;
}
.main__main-section {
  width: 90%;
  margin: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main__title {
  font-size: 2.6em;
  font-weight: 900;
  width: 90%;
  line-height: 1.3em;
}
.main__description {
  width: 75%;
  line-height: 1.5em;
  color: rgb(197, 197, 197);
}

.vertical-line {
  border-left: 0.15em solid #fff;
  height: 11.5em;
  margin: 0 1.75em;
}

.socials {
  list-style-type: none;
  margin: 4em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15em;
}
.socials__links {
  text-decoration: none;
}

.search-results {
  position: absolute;
  top: 35em;
  width: 80%;
  max-width: 28em;
}
.search-results__local-time {
  background-color: #0a3f3f;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-weight: 600;
}
.search-results__cards {
  width: 100%;
  margin: 1em 0;
  border-radius: 2em;
}
.search-results__card-images {
  width: 100%;
  border-radius: 0.5em;
  height: 15em;
}
.search-results__card-details {
  background-color: #fff;
  color: #333333;
  padding: 1em;
}/*# sourceMappingURL=travel-bloom-home.css.map */