@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/breakpoints' as breakpoints;

.travel-bloom{
    // background-image: url(../../assets/images/TravelBloom/images/downtown-nyc.jpg);
    // background-repeat: no-repeat;
    // background-size: 100% 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: colors.$white;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: colors.$travelbloom-black;
    // color: colors.$white;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    top: 0;
    z-index: 1;

    &__container{
        display: flex;
    }

    &__site-name{
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 0 1em;
        margin: 0 0.25em;
    }
}

.nav-bar{
    list-style-type: none;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // width: 25%;
    // width: 10%;
    position: absolute;
    top: 3.7em;
    left: 0;
    background-color: colors.$travelbloom-black;
    // color: colors.$white;
    width: 100%;
    padding: 1em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    
    
    // &__list-item{
    //     // margin: 0.5em 0;
    //     // margin: 0;
    //     width: 100%;
    // }
    
    &__links{
        text-decoration: none;
        color: colors.$white;
        font-weight: 600;
        // width: 100%;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        
        &:hover{
            background-color: colors.$travelbloom-teal;
        }

        &:active{
            // color: colors.$light-blue;
            background-color: colors.$secondary-teal;
            // color: colors.$travelbloom-teal;
        }
    }
}

.search-bar{
    // width: 40%;
    width: 60%;
    height: 2.8em;
    background-color: colors.$white;
    // background-color: red;
    border-radius: 2em;
    padding: 0 0.75em;
    // margin: auto 0;
    display: flex;
    justify-content: space-around;

    &__input{
        &:focus {
            border: 2px solid red;
        }
    }
}

#searchInput{
    border: colors.$white;
    // width: 60%;
    width: 100%;
    // height: 3.3em;
    color: colors.$travelbloom-teal;
    border-radius: 2em;
    // display: none;
    position: relative;
    // right: 1.45em;
    right: 0.7em;
    padding: 0 1em;

    // &:focus{
    //     border: none;
    // }

    &::placeholder{
        color: colors.$travelbloom-teal;
    }
}

.icons{
    width: 1.5em;

    &__logo{
        filter:
            brightness(0) invert(1) /* Turns black to white */
            drop-shadow(0.5px 0 white)    /* Adds white outline */
            drop-shadow(-0.5px 0 white) drop-shadow(0 0.5px white) drop-shadow(0 -0.5px white);
        // width: 2.5em;
        width: 2.5em;
    }

    // &__burger{
    //     width: 1.5em;
    // }

    &__search{
        // width: 1.3em;
        width: 1em;
    }

    &--smaller{
        width: 1em;
    }

    &--bigger{
        width: 1.6em;
    }
}

.buttons{
    background-color: colors.$secondary-teal;
    color: colors.$white;
    border: colors.$travelbloom-teal;
    padding: 0.75em 0;
    width: 9em;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: 600;
    
    &--hidden{
        display: none;
    }

    &:hover{
        background-color: colors.$travelbloom-teal;
    }

    &:active{
        background-color: colors.$darkslategray;
    }
}

.main{
    background-image: url(../../assets/images/TravelBloom/images/downtown-nyc.jpg);
    background-repeat: no-repeat;
    // background-size: 100vw;
    // background-size: 100% 45em;
    background-size: 100% 60em;
    // background-size: cover;
    // height: 100vh;
    height: 60em;
    // height: 100%;
    // height: 100em;
    // position: relative;
    // top: 12em;

    &::before{
        content: '';
        background-color: rgba($color: colors.$darkslategray, $alpha: 0.6);
        position: absolute;
        top: 14.2em;
        left: 0;
        width: 100%;
        // height: 100%;
        // height: 140.5%;
        height: 47.8em;
        // z-index: 1;
    }

    &__container{
        position: relative;
        top: 15em;
        margin: 2em 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__socials-section{
        width: 10%;
        // border: 2px solid red;
    }

    &__main-section{
        width: 90%;
        margin: 1em 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__title{
        // color: colors.$white;
        font-size: 2.6em;
        // font-size: 10vw;
        font-weight: 900;
        // margin: 1em 0.5em;
        width: 9em;
        line-height: 1.3em;
    }

    &__description{
        width: 75%;
        line-height: 1.5em;
        color: colors.$travelbloom-gray;
    }
}

.vertical-line{
    border-left: 0.15em solid colors.$white;
    height: 11.5em;
    margin: 0 1.75em;
}

.socials{
    list-style-type: none;
    margin: 4em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15em;

    &__links{
        text-decoration: none;
    }
}

.search-results{
    position: absolute;    
    top: 35em;
    // margin: 0 10.48vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    // margin: 0 auto;
    // padding: 0 3.5em;
    margin: 0 2.5em;
    width: 90%;

    &__local-time{
        background-color: colors.$travelbloom-teal;
        padding: 1em 2em;
        // width: 100%;
        // width: 100%;
        width: 25em;
        border-radius: 0.5em;
        font-weight: 600;
    }
}