@use './styles/partials/global' as *;
@use './styles/partials/colors' as colors;
@use './styles/partials/breakpoints' as breakpoints;

.header {
	position: relative;
	z-index: 2;

	&__nav{
		padding: 1em 0;
		background-color: colors.$darkslategray;
		width: 100%;
		position: fixed;
		overflow: hidden;
		top: 0;
		left: 0;
		box-shadow: 0px 5px 6px 0px colors.$white;
		display: flex;
		justify-content: space-evenly;
	}

	&__nav-list {
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__icon-list{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
	}
}

.nav-links {
	@include nav-links;
	color: colors.$white;
	margin: 0.5em;

	&:hover {
		color: colors.$antiquewhite;
		text-decoration: underline;
	}

	&:active {
		color: colors.$chestnut;
	}
}

.social-icons {
	margin: 0 0.5em;
	width: 35px;

	&:hover {
		transition: all 0.2s ease-in-out;
		transform: scale(1.3);
	}
	
	&:active svg path {
		fill: colors.$chestnut;
	}
}

.profile-icon{
	background-color: colors.$japanese-indigo;
	border-radius: 50%;
	width: 10em;
}

.profile-name {
	@include section-titles;
	@include font-bold;
	font-size: 1.8em;
}

.profile-role {
	@include section-subtitles;
	margin: 0.3em auto 0.5em;
	font-size: 1.6em;
}

.buttons {
	@include nav-links;
	@include buttons;

	&:hover {
		@include buttons-hover;
	}

	&:active {
		@include buttons-active;
	}

	&--project{
		@extend .buttons;
		background-color: colors.$metallic-blue;
		color: colors.$white;
		display: flex;
		margin: 1em auto;

		&:hover{
			@include buttons-hover;
		}

		&:active{
			@include buttons-active;
		}
	}
}

.main {
	margin-top: 7em;
	color: colors.$japanese-indigo;
}

.section-cards{
	background-color: colors.$antiquewhite;
	border-radius: 15px;
	box-shadow: 10px 10px colors.$border-teal;
	margin: 2.3em auto;
	padding: 0.8em;
	scroll-margin-top: 6em;
	width: 90%;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		text-align: center;

		&--image {
			width: 100%;
		}

		&--about{
			width: 100%;
			padding: 1em;
			margin: 1.5em auto 0;
		}

		&--portfolio{
			@extend .section-cards__container--about;
			margin: 0;
			display:  flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2em;
		}

		&--full-width {
			width: 100%;
			text-align: center;
		}
	}

	&__titles{
		@include section-subtitles;
	}

	&__desc{
		@include portfolio-desc-text;
		padding: 0.85em 0.45em;

		&--projects{
			position: relative;
			width: 100%;
			max-width: 20em;
			height: 35em;
			max-height: 35em;
			
			&:hover > .project-image{
				transform: rotateY(180deg);
			}

			&:hover > .project-details{
				transform: rotateY(0deg);
			}
		}
	}
}

.project-image{
	backface-visibility: hidden;
	transition: transform 1s ease;
}

.project-details{
	@include project-details-text;
	background-color: colors.$japanese-indigo;	
	padding: 1em;
	transform: rotateY(180deg);
	overflow-y: auto;

	&__desc{
		@include project-details-text;
		margin-bottom: 0.75em;
		text-align: left;

		&--italic{
			@include font-italic;
		}
	}
}

.card-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 1s ease;
	backface-visibility: hidden;
	box-shadow: 0 4px 8px colors.$border-teal;
}

.project-title{
	@include paragraph-text-regular-italic;
	font-size: 1.3em;
	text-align: center;
	margin: 0.5em auto;
	padding: 0 0 0.5em;
}

.copyright {
	@include portfolio-desc-text;
	color: colors.$white;
	box-shadow: 0px 0px 3px 2px colors.$white;
	padding: 1em 0;
	text-align: center;
	position: relative;
	bottom: 0;
}


@include breakpoints.tablet{
	.nav-links {
		margin: 1.5em;
	}

	.social-icons {
		margin: 0 1.5em;
	}

	.section-cards {
		&__desc {
			@include portfolio-desc-text;
			padding: 0.85em 0.45em;
		}
	}
}


@include breakpoints.desktop {
	body {
		@include desktop-max-width;
	}

	.header{
		&__nav{
			@include desktop-max-width;
		}
	}

	.section-cards {
		display: flex;

		&__container {
			width: 50%;
			justify-content: center;
		}
	}
}
