@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*
PRIMARY COLORS
BandSite-Black: Primary text color for dark on light background. Dark background color
-used for social icons
-bandsite logo 

Silver: Seconday text color. Inactive CTA text color. 

White: Primary text color for light on dark background. Light background color. Active CTA text color.
-active and hover links


SECONDARY COLORS
BandSite-DarkBlack: CTA hover state.

Mercury: Divider line. Form field outline.
-inactive links

Alabaster: Alternative light background color
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.portfolio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cad2c5;
}

.nitro-coffee-shop {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff0ed;
  color: #393939;
}

.travel-site {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFFFF;
}

.header {
  position: relative;
  z-index: 2;
}
.header__nav {
  padding: 1em 0;
  background-color: #cad2c5;
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 2px 0px #52796f;
  display: flex;
  justify-content: space-evenly;
}
.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__icon-list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.nav-links {
  font-weight: 400;
  font-style: normal;
  font-size: 1.31em;
  text-decoration: none;
  color: #354f52;
  margin: 0.5em;
}
.nav-links:hover {
  color: #2f3e46;
  text-decoration: underline;
}
.nav-links:active {
  color: #78290f;
}

.social-icons {
  margin: 0 0.5em;
  width: 35px;
}
.social-icons:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
}
.social-icons:active svg path {
  fill: #78290f;
}

.profile-icon {
  background-color: #2f3e46;
  border-radius: 50%;
  width: 10em;
}

.profile-name {
  font-weight: 300;
  font-style: normal;
  font-size: 3.75em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
}

.profile-role {
  font-weight: 300;
  font-style: normal;
  font-size: 2.06em;
  margin: 0.3em auto 0.5em;
  font-size: 1.6em;
}

.buttons, .buttons--project {
  font-weight: 400;
  font-style: normal;
  font-size: 1.31em;
  text-decoration: none;
  background-color: #354f52;
  border: none;
  color: #f0ebd8;
  border-radius: 8px;
  padding: 0.5em 1em;
}
.buttons:hover, .buttons--project:hover {
  background-color: #2f3e46;
}
.buttons:active, .buttons--project:active {
  background-color: #78290f;
}
.buttons--project {
  background-color: #3e5c76;
  color: #fff;
  display: flex;
  margin: 1em auto;
}
.buttons--project:hover {
  background-color: #fff;
  color: #3e5c76;
}
.buttons--project:active {
  background-color: #78290f;
  color: #fff;
}

.main {
  margin-top: 7em;
  color: #2f3e46;
}

.section-cards {
  background-color: #f0ebd8;
  border-radius: 15px;
  box-shadow: 10px 10px #52796f;
  margin: 2.3em auto;
  padding: 0.8em;
  scroll-margin-top: 6em;
  width: 90%;
}
.section-cards__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.section-cards__container--image {
  width: 100%;
}
.section-cards__container--about, .section-cards__container--portfolio {
  width: 100%;
  padding: 1em;
  margin: 1.5em auto 0;
}
.section-cards__container--portfolio {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.section-cards__container--full-width {
  width: 100%;
  text-align: center;
}
.section-cards__titles {
  font-weight: 300;
  font-style: normal;
  font-size: 2.06em;
}
.section-cards__desc {
  font-weight: 400;
  font-style: normal;
  color: #2f3e46;
  font-size: 1.2em;
  line-height: 1.4;
  padding: 0.85em 0.45em;
}
.section-cards__desc--projects {
  position: relative;
  width: 100%;
  max-width: 20em;
  height: 35em;
  max-height: 35em;
}
.section-cards__desc--projects:hover > .project-image {
  transform: rotateY(180deg);
}
.section-cards__desc--projects:hover > .project-details {
  transform: rotateY(0deg);
}

.project-image {
  backface-visibility: hidden;
  transition: transform 1s ease;
}

.project-details {
  font-weight: 400;
  font-style: normal;
  color: #2f3e46;
  font-size: 1.2em;
  line-height: 1.4;
  font-size: 0.95em;
  color: #fff;
  background-color: #2f3e46;
  padding: 1em;
  transform: rotateY(180deg);
  overflow-y: auto;
}
.project-details__desc {
  font-weight: 400;
  font-style: normal;
  color: #2f3e46;
  font-size: 1.2em;
  line-height: 1.4;
  font-size: 0.95em;
  color: #fff;
  margin-bottom: 0.75em;
  text-align: left;
}
.project-details__desc--italic {
  font-weight: 400;
  font-style: italic;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px #52796f;
}

.project-title {
  font-weight: 400;
  font-style: italic;
  font-size: 1.13em;
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  margin: 0.5em auto;
  padding: 0 0 0.5em;
}

.copyright {
  font-weight: 400;
  font-style: normal;
  color: #2f3e46;
  font-size: 1.2em;
  line-height: 1.4;
  box-shadow: 0px 2px 5px 0px #52796f;
  padding: 1em 0;
  text-align: center;
  position: relative;
  bottom: 0;
}

@media (min-width: 768px) {
  .nav-links {
    margin: 1.5em;
  }
  .social-icons {
    margin: 0 1.5em;
  }
  .section-cards__desc {
    font-weight: 400;
    font-style: normal;
    color: #2f3e46;
    font-size: 1.2em;
    line-height: 1.4;
    padding: 0.85em 0.45em;
  }
}
@media (min-width: 1280px) {
  body {
    max-width: 80em;
  }
  .header__nav {
    max-width: 80em;
  }
  .section-cards {
    display: flex;
  }
  .section-cards__container {
    width: 50%;
    justify-content: center;
  }
}/*# sourceMappingURL=index.css.map */