// Portfolio Page Styling
$portfolio-green: #cad2c5;
$portfolio-cyan: #354f52;
$border-cyan: #52796f;
$dark-blue: #3e5c76;
$dark-red: #78290f;
$grayish-blue: #2f3e46;
$yellow: #f0ebd8;

// Nitro Coffee Styling
$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;
$graphite: #393939;
$light-gray: #f7f7f7;
$white: #fff;

// Travel Site Styling
$travel-site-white: #FFFFFF;
$travel-site-blue: #335576;
$travel-site-orange: #DB7A4E;
$light-orange: #FEFAF5;
$black: #000000;

// Band Site Styling
$bandsite-black: #323232;
$silver: #afafaf;
$bandsite-white: #ffffff;
$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$red: #d22d2d;

/*
PRIMARY COLORS
BandSite-Black: Primary text color for dark on light background. Dark background color
-used for social icons
-bandsite logo 

Silver: Seconday text color. Inactive CTA text color. 

White: Primary text color for light on dark background. Light background color. Active CTA text color.
-active and hover links


SECONDARY COLORS
BandSite-DarkBlack: CTA hover state.

Mercury: Divider line. Form field outline.
-inactive links

Alabaster: Alternative light background color
*/