$portfolio-green: #cad2c5;
$portfolio-cyan: #354f52;
$border-cyan: #52796f;
// $dark-blue: #3e5c76;
$dark-red: #78290f;
$grayish-blue: #2f3e46;
// $cyan: #15616d;
$yellow: #f0ebd8;

$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;
$graphite: #393939;
$light-gray: #f7f7f7;
$white: #fff;
