@use './fonts';
@use './colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// Portfolio Page Styling
.portfolio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: colors.$portfolio-green;
}

@mixin portfolio-desc-text{
    @include font-regular;
	color: colors.$grayish-blue;
    font-size: 1.2em;
    line-height: 1.4;
}

@mixin project-details-text{
    @include portfolio-desc-text;
    font-size: 0.95em;
    color: colors.$white;
}



// Nitro Coffee Shop Styling
.nitro-coffee-shop{
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: colors.$nitro-pink;
    color: colors.$graphite;
}

@mixin font-light {
    font-weight: 300;
    font-style: normal;
}

@mixin font-regular {
    font-weight: 400;
    font-style: normal;
}

@mixin font-italic {
    font-weight: 400;
    font-style: italic;
}

@mixin font-bold {
    font-weight: 700;
    font-style: normal;
}

@mixin section-titles{
    @include font-light;
    font-size: 60px;
}

@mixin section-subtitles{
    @include font-light;
    font-size: 33px;
}

@mixin section-paragraph {
    width: 90%;
    padding: 1em 0 2em;
}

@mixin blue-text{
    color: colors.$nitro-blue;
}

@mixin footer-headers{
    margin: 0.75em 0;
}

@mixin nav-links{
    @include font-regular;
    font-size: 21px;
    text-decoration: none;
}

@mixin buttons{
    @include nav-links;
    background-color: colors.$nitro-blue;
    color: colors.$white;
    padding: 0.4em 1.2em;
    border: 2px solid colors.$nitro-blue;
}

@mixin paragraph-text-regular{
    @include font-regular;
    font-size: 18px;
}

@mixin paragraph-text-regular-italic{
    @include font-italic;
    font-size: 18px;
    width: 100%;
}

@mixin menu-price{
    color: colors.$nitro-blue;
    padding-top: 0.25em;
}

@mixin discount-code{
    @include font-regular;
    font-size: 45px;
}

@mixin icons{
    width: 50px;
}

@mixin product-images{
    height: 280px;
}

@mixin title-box{
    width: 300px;
    height: 200px;
    background-color: colors.$graphite;
    color: colors.$white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background{
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
}

@mixin header-nav-list{
    list-style-type: none;
    padding: 1em;
}

@mixin header-links{
    text-decoration: none;
    color: colors.$graphite;
}

@mixin header-link-nitro{
    display: flex;
}

@mixin other-header-links{
    text-align: center;
    padding: 1em;
    width: 100%;
}

@mixin footer{
    background-color: colors.$nitro-pink;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1em 2em 2em;
}

@mixin footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.5em auto;
    width: 70%;
    max-width: 17em;
}

@mixin footer-socials-list{
    list-style-type: none;
    display: flex;
}

@mixin footer-socials-icons{
    padding-right: 0.5em;
}

@mixin address-block-text{
    display: flex;
}

@mixin business-hours-bold{
    @include font-bold;
}

@mixin disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

@mixin enabled{
    cursor: pointer;
}



@mixin tablet-header-nav-list{
    display: flex;
}

@mixin tablet-header-link-nitro{
    align-items: baseline;
    width: 75%;
}

@mixin tablet-other-header-links{
    display: flex;
    justify-content: space-evenly;
    min-width: 11em;
    width: 25%;
    position: relative;
    top: 0.6em;
    padding: 1em 0;
}

@mixin tablet-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin tablet-footer-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@mixin tablet-address{
    width: 37.5%;
}

@mixin tablet-business-hours{
    @include tablet-address;
    min-width: 17em;
}

@mixin tablet-socials{
    width: 11em;
    position: relative;
    top: 0.4em;
}



@mixin desktop-max-width{
    max-width: 80em;
}



// Travel Site Styling
.travel-site{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: colors.$travel-site-white;
    // overflow-x: hidden;
}

@mixin regular-text{
    @include font-regular;
    font-size: 1em;
    color: colors.$black;
}

@mixin header-text{
    @include font-bold;
    font-size: 1.6em;
    color: colors.$travel-site-blue;
}

@mixin subheader-text{
    @include header-text;
    font-size: 1.3em;
}

@mixin small-text{
    @include font-regular;
    font-size: 0.8em;
    color: colors.$travel-site-blue;
}

@mixin destination-title{
    @include font-bold;
    color: colors.$travel-site-white;
    // font-size: 3.5em;
    font-size: 3.8em;
    // position: absolute;
    // top: 1em;
}

@mixin days-text{
    @include font-bold;
    font-size: 1.15em;
    color: colors.$black;
}
/*
navbar: fixed
font: Verdana
text-align: left

$travel-site-background: #FFFFFF;
$travel-site-logo: #335576;
$nav-link-active: #DB7A4E;
$footer-background: #FEFAF5;

$footer-text: #335576;
$footer-subtitles: #DB7A4E;

$hero-background: #FEFAF5;
$slogan: #335576;
$button: #DB7A4E;

$recommendations-title: #335576;
$border-radius: 5px;
$card-border: 1px solid rgba(0 0 0 20%);
$box-shadow: 0px 4px 4px rgba(0 0 0 20%);

$activities: #FEFAF5;
*/