@use './fonts';
@use './colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}



// Portfolio Page Styling
.portfolio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: colors.$portfolio-green;
}

@mixin portfolio-desc-text{
    @include font-regular;
	color: colors.$grayish-blue;
    font-size: 1.2em;
    line-height: 1.4;
}

@mixin project-details-text{
    @include portfolio-desc-text;
    font-size: 0.95em;
    color: colors.$white;
}



// Nitro Coffee Shop Styling
.nitro-coffee-shop{
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: colors.$nitro-pink;
    color: colors.$graphite;
}

@mixin font-light {
    font-weight: 300;
    font-style: normal;
}

@mixin font-regular {
    font-weight: 400;
    font-style: normal;
}

@mixin font-italic {
    font-weight: 400;
    font-style: italic;
}

@mixin font-bold {
    font-weight: 700;
    font-style: normal;
}

@mixin section-titles{
    @include font-light;
    font-size: 3.75em;
}

@mixin section-subtitles{
    @include font-light;
    font-size: 2.06em;
}

@mixin section-paragraph {
    width: 90%;
    padding: 1em 0 2em;
}

@mixin blue-text{
    color: colors.$nitro-blue;
}

@mixin footer-headers{
    margin: 0.75em 0;
}

@mixin nav-links{
    @include font-regular;
    font-size: 1.31em;
    text-decoration: none;
}

@mixin nitro-coffee-buttons{
    @include nav-links;
    background-color: colors.$nitro-blue;
    color: colors.$white;
    padding: 0.4em 1.2em;
    border: 0.125em solid colors.$nitro-blue;
}

@mixin paragraph-text-regular{
    @include font-regular;
    font-size: 1.13em;
}

@mixin paragraph-text-regular-italic{
    @include font-italic;
    font-size: 1.13em;
    width: 100%;
}

@mixin menu-price{
    color: colors.$nitro-blue;
    padding-top: 0.25em;
}

@mixin discount-code{
    @include font-regular;
    font-size: 2.8em;
}

@mixin icons{
    width: 3.1em;
}

@mixin product-images{
    height: 17.5em;
}

@mixin title-box{
    width: 5em;
    height: 3.35em;
    background-color: colors.$graphite;
    color: colors.$white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background{
    width: 100%;
    height: 43.75em;
    background-position: center;
    background-size: cover;
}

@mixin header-nav-list{
    list-style-type: none;
    padding: 1em;
}

@mixin header-links{
    text-decoration: none;
    color: colors.$graphite;
}

@mixin header-link-nitro{
    display: flex;
}

@mixin other-header-links{
    text-align: center;
    padding: 1em;
    width: 100%;
}

@mixin nitro-coffee-footer{
    background-color: colors.$nitro-pink;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1em 2em 2em;
}

@mixin nitro-coffee-footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.5em auto;
    width: 70%;
    max-width: 17em;
}

@mixin footer-socials-list{
    list-style-type: none;
    display: flex;
}

@mixin footer-socials-icons{
    padding-right: 0.5em;
}

@mixin address-block-text{
    display: flex;
}

@mixin business-hours-bold{
    @include font-bold;
}

@mixin disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

@mixin enabled{
    cursor: pointer;
}



@mixin tablet-header-nav-list{
    display: flex;
}

@mixin tablet-header-link-nitro{
    align-items: baseline;
    width: 75%;
}

@mixin tablet-other-header-links{
    display: flex;
    justify-content: space-evenly;
    min-width: 11em;
    width: 25%;
    position: relative;
    top: 0.6em;
    padding: 1em 0;
}

@mixin tablet-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin tablet-footer-container{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@mixin tablet-address{
    width: 37.5%;
}

@mixin tablet-business-hours{
    @include tablet-address;
    min-width: 17em;
}

@mixin tablet-socials{
    width: 11em;
    position: relative;
    top: 0.4em;
}



@mixin desktop-max-width{
    max-width: 80em;
}



// Travel Site Styling
.travel-site{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: colors.$travel-site-white;
}

@mixin regular-text{
    @include font-regular;
    font-size: 1em;
    color: colors.$black;
}

@mixin header-text{
    @include font-bold;
    font-size: 1.6em;
    color: colors.$travel-site-blue;
}

@mixin subheader-text{
    @include header-text;
    font-size: 1.3em;
}

@mixin small-text{
    @include font-regular;
    font-size: 0.8em;
    color: colors.$travel-site-blue;
}

@mixin destination-title{
    @include font-bold;
    color: colors.$travel-site-white;
    font-size: 3.8em;
}

@mixin days-text{
    @include font-bold;
    font-size: 1.15em;
    color: colors.$black;
}

@mixin navigation-bar{
    @include desktop-max-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    position: fixed;
    background-color: colors.$travel-site-white;
    z-index: 1;
}

@mixin left-navigation-bar{
    width: 100%;
    display: flex;
    margin: 0 auto 1.5em;
}

@mixin right-navigation-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin right-navigation-links{
    margin: 0.85em auto;
}

@mixin remove-link-underline{
    list-style-type: none;
    text-decoration: none;
}

@mixin navigation-links{
    @include regular-text;
    text-decoration: none;
    margin: 0 0.5em;
}

@mixin travel-site-link{
    color: colors.$travel-site-blue;
    @include font-bold;
}

@mixin active-link{
    border-bottom: 0.25em solid colors.$travel-site-orange;
    padding: 0.5em 0;
}

@mixin destination-card-labels{
    color: colors.$travel-site-white;
    position: relative;
    bottom: 2.85em;
}

@mixin destination-pages-max-width{
    max-width: 100%;
}

@mixin main-banner{
    background-color: colors.$light-orange;
    padding: 2em 1.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@mixin left-main-banner{
    width: 100%;
    padding: 2em 0;
}

@mixin right-main-banner{
    width: 100%;
    max-width: 20em;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

@mixin recommendations-title{
    padding: 1.5em;
}

@mixin text-content-padding{
    padding: 1.75em 0;
}

@mixin orange-text{
    @include text-content-padding;
    color: colors.$travel-site-orange;
    padding-bottom: 0.8em;
}

@mixin travel-site-buttons{
    @include small-text;
    color: colors.$white;
    background-color: colors.$travel-site-orange;
    border: none;
    border-radius: 5em;
    padding: 0.5em 2em;
}

@mixin destination-card-images{
    width: 15em;
    border-radius: 0.31em;
    border: 0.06em solid rgba(0, 0, 0, 0.2);
    box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    position: relative;
}

@mixin travel-site-footer{
    @include main-banner;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@mixin travel-site-footer-container{
    margin: 1.5em auto;
    padding: 0 0.5em;
}

@mixin remove-margins{
    margin: 0;
}

@mixin social-icons{
    padding: 1.75em 0 0.8em;
    width: 25%;
    max-width: 2em;
    margin: 0 1.5em 0 0;
}

@mixin resize-social-icons{
    width: 12%;
    max-width: 1em;
}

@mixin destination-banner {
    @include background;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 81.25em;
    background-repeat: no-repeat;
}

@mixin mobile-banner-resize {
    height: 70em;
    padding-top: 18em;
    padding-bottom: 3em;
}

@mixin banner-title {
    @include destination-title;
    position: relative;
    bottom: 0;
    left: 0;
}

@mixin banner-container {
    position: relative;
    width: 90%;
    max-width: 70em;
}

@mixin activity-cards {
    @include destination-card-images;
    background-color: colors.$travel-site-white;
    padding: 1em 0.3em;
    width: 33%;
    max-width: 17em;
    margin: 0.03em;
    position: relative;
    height: 23.5em;
}

@mixin activity-cards-container {
    width: 100%;
    max-width: 65em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    height: 26em;
}

@mixin activities {
    @include regular-text;
    background-color: colors.$light-orange;
    margin: 1em auto;
    padding: 1em 0;
}

@mixin activities-day-titles {
    @include days-text;
    border-bottom: 0.13em solid colors.$black;
}

@mixin activities-list-item {
    margin: 1.5em 0 0;
}

@mixin add-equal-padding{
    padding: 1em;
}



@mixin tablet-navigation-bar{
    display: flex;
    flex-direction: row;
    padding: 1em 4em;
    width: 100%;
}

@mixin tablet-left-navigation-bar {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

@mixin tablet-right-navigation-bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@mixin tablet-main-banner{
    width: 100%;
}

@mixin tablet-left-main-banner {
    padding: 2em 0 0 2.85em;
    width: 55%;
    max-width: 32.5em;
}

@mixin tablet-right-main-banner {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    max-width: 35em;
}

@mixin tablet-footer-subcontainer{
    padding: 0 2em 0 0;
}

@mixin tablet-hours-section{
    display: flex;
}

@mixin tablet-banner-resize{
    height: 43.75em;
    padding: 0;
}



// Band Site Styling
@mixin avenir-font-regular{
    font-family: 'Avenir Next', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin avenir-font-demi{
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin avenir-font-bold{
    font-family: 'Avenir Next', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin mobile-page-header{
    @include avenir-font-demi;
    font-size: 1.5em;
    line-height: 2em;
}

@mixin mobile-section-header{
    @include mobile-page-header;
}

@mixin mobile-subheader{
    @include avenir-font-demi;
    font-size: 0.88em;
    line-height: 1.38em;
}

@mixin mobile-body-copy{
    @include avenir-font-regular;
    font-size: 0.81em;
    line-height: 1.5em;

}

@mixin mobile-footer-copy{
    @include mobile-body-copy;
}

@mixin mobile-labels-and-buttons{
    @include avenir-font-bold;
    font-size: 0.63em;
    line-height: 1.25em;
}



@mixin tablet-page-header{
    @include avenir-font-demi;
    font-size: 3.75em;
    line-height: 4.25em;
}

@mixin tablet-section-header{
    @include avenir-font-demi;
    font-size: 2.25em;
    line-height: 2.75em;
}

@mixin tablet-subheader{
    @include avenir-font-demi;
    font-size: 1.5em;
    line-height: 2em;
}

@mixin tablet-body-copy{
    @include avenir-font-regular;
    font-size: 0.88em;
    line-height: 1.38em;
}

@mixin tablet-footer-copy{
    @include avenir-font-regular;
    font-size: 0.88em;
    line-height: 1.25em;
}

@mixin tablet-labels-and-buttons{
    @include avenir-font-bold;
    font-size: 0.75em;
    line-height: 1.25em;
}


@mixin mobile-padding-headlines{
    padding: 1.5em 1em 1em;
}

@mixin tablet-padding-headlines{
    padding: 3em 2.25em 2.25em;
}



@mixin mobile-margin{
    margin-left: 1em;
    margin-right: 1em;
}

@mixin tablet-margin{
    margin-left: 2.25em;
    margin-right: 2.25em;
}

@mixin desktop-margin{
    margin-left: auto;
    margin-right: auto;
}



@mixin bandsite-logo{
    height: 1.25em;
    width: 7.5em;
}


@mixin primary-cta{
    background-color: colors.$bandsite-black;
    color: colors.$bandsite-white;
    height: 2.5em;
    border-radius: 0.25em;
}

@mixin primary-cta-hover{
    background-color: colors.$bandsite-darkblack;
}


@mixin bandsite-active-link{
    @include avenir-font-bold;
    color: colors.$bandsite-white;
    border-bottom: 0.23em solid colors.$bandsite-white; //subject to change
}

@mixin bandsite-hover-link{
    @include avenir-font-regular;
    color: colors.$bandsite-white;
    border-bottom: 0.23em solid colors.$bandsite-white; //subject to change
}

@mixin bandsite-inactive-link{
    color: colors.$mercury;
}


@mixin bandsite-divider{
    border-bottom: 0.12em solid colors.$mercury;
    padding: 1em 0;
}

@mixin full-image-width{
    width: 100%;
}



// FOR SPRINT 2
@mixin mobile-form-fields{
    height: 2.25em;
    border-radius: 0.35em;
    padding: 0.75em;
}

@mixin tablet-form-fields{
    height: 3em;
    border-radius: 0.35em;
    padding: 1em;
}


@mixin form-field-labels{
    margin-bottom: 0.25em;
}

@mixin form-field-border{
    border: 0.12em solid colors.$mercury;
}

@mixin form-field-border-active {
    border: 0.12em solid colors.$bandsite-black;
}

@mixin form-field-border-error {
    border: 0.12em solid colors.$red;
}

@mixin mobile-tables-padding{
    padding: 1em;
}

@mixin tablet-tables-padding{
    padding: 1.5em 1.13em;
}

@mixin table-row-selected{
    background-color: colors.$mercury;
}

@mixin table-row-hover{
    background-color: colors.$alabaster;
}

@mixin mobile-avatar-images{
    border-radius: 50%;
    width: 2.25em;
    height: 2.25em;
    background-color: colors.$mercury;
}

@mixin tablet-avatar-images{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    background-color: colors.$mercury;
}