@use '../partials/global' as *;
@use '../partials/colors' as colors;
@use '../partials/breakpoints' as breakpoints;

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 100%;

    &--left {
        width: 100%;
        display: flex;
        margin: 0 auto 1.5em;
    }

    &--right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>.nav__list-item {
            margin: 0.85em auto;
        }
    }

    &__list-item {
        list-style-type: none;
    }

    &__links {
        @include regular-text;
        text-decoration: none;
        color: colors.$black;
        margin: 0 0.5em;

        &--blue {
            color: colors.$travel-site-blue;
            @include font-bold;
        }

        &--active {
            border-bottom: 4px solid colors.$travel-site-orange;
            padding: 0.5em 0;
        }
    }
}

.page-title {
    @include header-text;
}

.page-subtitle {
    @include subheader-text;

    &__destinations {
        color: colors.$travel-site-white;
        position: relative;
        bottom: 2.85em;
    }
}

.main {
    max-width: 100%;

    &__banner {
        background-color: colors.$light-orange;
        padding: 2em 1.5em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        &--left {
            width: 100%;
            padding: 2em 0;
        }

        &--right {
            width: 100%;
            max-width: 20em;
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
        }
    }

    &__recommendations {
        padding: 1.5em;
    }
}

.text-content {
    @include small-text;

    &--padding {
        padding: 1.75em 0;
    }

    &--orange {
        @extend .text-content--padding;
        color: colors.$travel-site-orange;
        padding-bottom: 0.8em;
    }
}

.buttons {
    @include small-text;
    color: colors.$white;
    background-color: colors.$travel-site-orange;
    border: none;
    border-radius: 5em;
    padding: 0.5em 2em;
}

.banner-image {
    width: 100%;
    max-width: 18em;
}

.destination-cards {
    width: 100%;
    max-width: 55em;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto 1em;
    flex-wrap: wrap;

    &__images {
        width: 15em;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        margin: 1em auto;
        position: relative;
    }
}

.card {
    width: 15em;
    max-width: 20em;
    margin: 0 0.5em;

    &__title {
        display: flex;
        justify-content: flex-end;
        padding-right: 1.2em;
    }
}


// HAWAII PAGE STYLING
.banner{
    @include background;
    background-image: url(../../assets/images/TravelSite/hawaii.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-size: 1200px;
    // background-size: 1250px;
    background-size: 1300px;
    background-repeat: no-repeat;
    // width: 100%;

    &__title{
        @include destination-title;
        // position: absolute;
        // top: 0;
        // left: 0;
        // padding: 1em;
        position: relative;
        bottom: 0.5em;
        left: 0.5em;

    }

    &__container{
        position: relative;
        width: 90%;
        max-width: 70em;
        // padding: 0 0 2em;
        // border: 2px solid red;
    }
}

.activity-cards{
    @extend .destination-cards__images;
    background-color: colors.$travel-site-white;
    // padding: 1em;
    padding: 1em 0.3em;
    // border: 2px solid blue;
    width: 33%;
    max-width: 17em;
    margin: 0.03em;
    // margin: 0.05em;
    // width: 17em;
    // margin: 0.5em;
    position: relative;
    height: 23.5em;

    &__container{
        width: 100%;
        max-width: 65em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        position: relative;
        height: 25em;
        // border: 2px solid red;
    }
}

.activities{
    @extend .nav__list-item;
    @include regular-text;
    background-color: colors.$light-orange;
    margin: 1em auto;
    // padding: 1em;
    padding: 1em 0;

    &--days{
        @include days-text;
        border-bottom: 2px solid colors.$black;
    }

    &__list-item{
        // margin: 1.5em 0 2em;
        margin: 1.5em 0 0;
    }
}

.footer {
    @extend .main__banner;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    &__container {
        margin: 1.5em auto;
        padding: 0 0.5em;
    }

    &__subcontainer {
        margin: 0;
    }
}

.social-icons {
    padding: 1.75em 0 0.8em;
    width: 25%;
    max-width: 2em;
    margin: 0 1.5em 0 0;

    &--resize {
        width: 12%;
        max-width: 1em;
    }
}
@include breakpoints.tablet {
    .nav {
        display: flex;
        flex-direction: row;
        padding: 1em 4em;
        width: 100%;

        &--left {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            margin: 0;
        }

        &--right {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            &>.nav__list-item {
                margin: 0;
            }
        }
    }

    .main {
        &__banner {
            width: 100%;

            &--left {
                padding: 2em 0 0 2.85em;
                width: 55%;
                max-width: 32.5em;
            }

            &--right {
                display: flex;
                justify-content: flex-end;
                width: 45%;
                max-width: 35em;
            }
        }
    }

    .page-title {
        max-width: 13em;
    }

    .destination-cards {
        max-width: 100%;
    }

    .footer {
        &__subcontainer {
            padding: 0 2em 0 0;

            &--hours {
                display: flex;
            }
        }
    }
}

@include breakpoints.desktop {
    body {
        @include desktop-max-width;
    }
}