/*
navbar: fixed
font: Verdana
text-align: left

$travel-site-background: #FFFFFF;
$travel-site-logo: #335576;
$nav-link-active: #DB7A4E;
$footer-background: #FEFAF5;

$footer-text: #335576;
$footer-subtitles: #DB7A4E;

$hero-background: #FEFAF5;
$slogan: #335576;
$button: #DB7A4E;

$recommendations-title: #335576;
$border-radius: 5px;
$card-border: 1px solid rgba(0 0 0 20%);
$box-shadow: 0px 4px 4px rgba(0 0 0 20%);

$activities: #FEFAF5;
*/
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cad2c5;
}

.nitro-coffee-shop {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff0ed;
  color: #393939;
}

.travel-site {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

/*
navbar: fixed
font: Verdana
text-align: left

$travel-site-background: #FFFFFF;
$travel-site-logo: #335576;
$nav-link-active: #DB7A4E;
$footer-background: #FEFAF5;

$footer-text: #335576;
$footer-subtitles: #DB7A4E;

$hero-background: #FEFAF5;
$slogan: #335576;
$button: #DB7A4E;

$recommendations-title: #335576;
$border-radius: 5px;
$card-border: 1px solid rgba(0 0 0 20%);
$box-shadow: 0px 4px 4px rgba(0 0 0 20%);

$activities: #FEFAF5;
*/
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}
.nav--left {
  width: 100%;
  display: flex;
  margin: 0 auto 1.5em;
}
.nav--right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav--right > .nav__list-item {
  margin: 0.85em auto;
}
.nav__list-item {
  list-style-type: none;
}
.nav__links {
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  margin: 0 0.5em;
}
.nav__links--blue {
  color: #335576;
  font-weight: 700;
  font-style: normal;
}
.nav__links--active {
  border-bottom: 4px solid #DB7A4E;
  padding: 0.5em 0;
}

.page-title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.6em;
  color: #335576;
}

.page-subtitle {
  font-weight: 700;
  font-style: normal;
  font-size: 1.6em;
  color: #335576;
  font-size: 1.3em;
}
.page-subtitle__destinations {
  color: #FFFFFF;
  position: relative;
  bottom: 2.85em;
}

.main__banner, .footer {
  background-color: #FEFAF5;
  padding: 2em 1.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.main__banner--left {
  width: 100%;
  padding: 2em 0;
}
.main__banner--right {
  width: 100%;
  max-width: 20em;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}
.main__recommendations {
  padding: 1.5em;
}

.text-content {
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  color: #335576;
}
.text-content--padding, .text-content--orange {
  padding: 1.75em 0;
}
.text-content--orange {
  color: #DB7A4E;
  padding-bottom: 0.8em;
}

.buttons {
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  color: #335576;
  color: #fff;
  background-color: #DB7A4E;
  border: none;
  border-radius: 5em;
  padding: 0.5em 2em;
}

.banner-image {
  width: 100%;
  max-width: 18em;
}

.destination-cards {
  width: 100%;
  max-width: 55em;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 1em;
  flex-wrap: wrap;
}
.destination-cards__images {
  width: 15em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 1em auto;
  position: relative;
}

.card {
  max-width: 20em;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.footer__container {
  margin: 1.5em auto;
}
.footer__subcontainer {
  margin: 0;
}

.social-icons {
  padding: 1.75em 0 0.8em;
  width: 25%;
  max-width: 2em;
  margin: 0 1.5em 0 0;
}
.social-icons--resize {
  width: 12%;
  max-width: 1em;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 1em 4em;
    width: 100%;
  }
  .nav--left {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  .nav--right {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav--right > .nav__list-item {
    margin: 0;
  }
  .main__banner, .footer {
    width: 100%;
  }
  .main__banner--left {
    padding: 2em 0 0 2.85em;
    width: 55%;
    max-width: 32.5em;
  }
  .main__banner--right {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    max-width: 35em;
  }
  .page-title {
    max-width: 13em;
  }
}/*# sourceMappingURL=travel-site-home.css.map */