// Travel Site Styling

/*
navbar: fixed
font: Verdana
text-align: left

$travel-site-background: #FFFFFF;
$travel-site-logo: #335576;
$nav-link-active: #DB7A4E;
$footer-background: #FEFAF5;

$footer-text: #335576;
$footer-subtitles: #DB7A4E;

$hero-background: #FEFAF5;
$slogan: #335576;
$button: #DB7A4E;

$recommendations-title: #335576;
$border-radius: 5px;
$card-border: 1px solid rgba(0 0 0 20%);
$box-shadow: 0px 4px 4px rgba(0 0 0 20%);

$activities: #FEFAF5;
*/
@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/breakpoints' as breakpoints;

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    // margin: 0 1em;
    width: 100%;

    &--left{
        width: 30%;
        display: flex;
        justify-content: flex-start;
    }

    &--right {
        display: flex;
        // justify-content: space-evenly;
        justify-content: flex-end;
        // margin: 0 1em;
        width: 70%;
    }

    &__list-item{
        list-style-type: none;
    }
    
    &__links{
        @include regular-text;
        text-decoration: none;
        color: colors.$black;
        margin: 0 0.5em;

        &--blue{
            color: colors.$travel-site-blue;
            @include font-bold;
        }

        &--active {
            border-bottom: 4px solid colors.$travel-site-orange;
            padding: 0.5em 0;
        }
    }
}

.page-title{
    @include header-text;
}

.main{
    &__banner{
        background-color: colors.$light-orange;
        padding: 2em 1.5em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        &--left{
            width: 100%;
            max-width: 30em;
            padding: 1.5em 0;
        }

        &--right{
            // width: 40%;
            // width: 100%;
            display: flex;
            // justify-content: center;
            // justify-content: flex-end;
            margin: 0 auto;
        }
    }
}

.text-content{
    @include small-text;
    padding: 1.75em 0;
}

.buttons{
    @include small-text;
    color: colors.$white;
    background-color: colors.$travel-site-orange;
    border: none;
    border-radius: 5em;
    padding: 0.5em 2em;
}

.banner-image{
    width: 100%;
    max-width: 15em;
    // display: flex;
    // margin: 0 auto;
}