/*
navbar: fixed
font: Verdana
text-align: left

$travel-site-background: #FFFFFF;
$travel-site-logo: #335576;
$nav-link-active: #DB7A4E;
$footer-background: #FEFAF5;

$footer-text: #335576;
$footer-subtitles: #DB7A4E;

$hero-background: #FEFAF5;
$slogan: #335576;
$button: #DB7A4E;

$recommendations-title: #335576;
$border-radius: 5px;
$card-border: 1px solid rgba(0 0 0 20%);
$box-shadow: 0px 4px 4px rgba(0 0 0 20%);

$activities: #FEFAF5;
*/
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.portfolio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cad2c5;
}

.nitro-coffee-shop {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff0ed;
  color: #393939;
}

.travel-site {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFFFF;
}

/*
navbar: fixed
font: Verdana
text-align: left

$travel-site-background: #FFFFFF;
$travel-site-logo: #335576;
$nav-link-active: #DB7A4E;
$footer-background: #FEFAF5;

$footer-text: #335576;
$footer-subtitles: #DB7A4E;

$hero-background: #FEFAF5;
$slogan: #335576;
$button: #DB7A4E;

$recommendations-title: #335576;
$border-radius: 5px;
$card-border: 1px solid rgba(0 0 0 20%);
$box-shadow: 0px 4px 4px rgba(0 0 0 20%);

$activities: #FEFAF5;
*/
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}
.nav--left {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.nav--right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
.nav__list-item {
  list-style-type: none;
}
.nav__links {
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  margin: 0 0.5em;
}
.nav__links--blue {
  color: #335576;
  font-weight: 700;
  font-style: normal;
}
.nav__links--active {
  border-bottom: 4px solid #DB7A4E;
  padding: 0.5em 0;
}

.page-title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.6em;
  color: #335576;
  max-width: 13em;
}

.main__banner {
  background-color: #FEFAF5;
  padding: 2em 1.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.main__banner--left {
  width: 100%;
  max-width: 30em;
  padding: 2em 0;
}
.main__banner--right {
  width: 100%;
  max-width: 20em;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.text-content {
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  color: #335576;
  padding: 1.75em 0;
}

.buttons {
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  color: #335576;
  color: #fff;
  background-color: #DB7A4E;
  border: none;
  border-radius: 5em;
  padding: 0.5em 2em;
}

.banner-image {
  width: 100%;
  max-width: 18em;
}/*# sourceMappingURL=travel-site-home.css.map */