@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*
PRIMARY COLORS
BandSite-Black: Primary text color for dark on light background. Dark background color
-used for social icons
-bandsite logo 

Silver: Seconday text color. Inactive CTA text color. 

White: Primary text color for light on dark background. Light background color. Active CTA text color.
-active and hover links


SECONDARY COLORS
BandSite-DarkBlack: CTA hover state.

Mercury: Divider line. Form field outline.
-inactive links

Alabaster: Alternative light background color
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.portfolio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cad2c5;
}

.nitro-coffee-shop {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff0ed;
  color: #393939;
}

.travel-site {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FFFFFF;
}

.band-site {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: 2em;
  overflow-x: hidden;
}

.section-titles {
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  line-height: 2em;
}
.section-titles__album-name {
  color: #ffffff;
  line-height: 1.45;
  width: 75%;
  max-width: 10em;
  position: relative;
  top: 0.2em;
  left: 0.65em;
}
.section-titles__footer {
  padding-bottom: 0.4em;
}
.section-titles__shows {
  margin: 1em 0.33em 0;
}

.header {
  background-color: #323232;
  padding: 1.5em 0 0.72em;
}
.header__list-item {
  list-style-type: none;
  text-decoration: none;
}
.header__container {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style-type: none;
  text-decoration: none;
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-links--active {
  font-family: "Avenir Next", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  border-bottom: 0.23em solid #ffffff;
  padding: 1em 2.8em;
}
.nav-links--active:hover {
  margin-right: 2.8em;
}
.nav-links--inactive {
  color: #e1e1e1;
  padding: 1em 0;
  margin-left: 2em;
}
.nav-links:hover {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  border-bottom: 0.23em solid #ffffff;
  padding: 1em 0;
}

.bandsite-logo {
  height: 1.25em;
  width: 7.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em;
}
.bandsite-logo__footer {
  margin: 3em 0 1em;
}

.hero-banner {
  width: 100%;
  height: 18em;
}
.hero-banner__title {
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.88em;
  line-height: 1.38em;
  color: #ffffff;
  position: relative;
  bottom: 0.3em;
  left: 1em;
  width: 11em;
}
.hero-banner__container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18em;
}
.hero-banner__container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(50, 50, 50, 0.5);
  height: 18em;
}
.hero-banner__subcontainer {
  width: 100%;
  position: absolute;
}

.soundcloud {
  width: 90%;
  height: 6em;
  display: flex;
  margin-left: 1em;
  position: relative;
  top: 1em;
  border-radius: 0.25em;
}

.shows-section {
  padding: 0 0.5em;
}
.shows-section__headings {
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.88em;
  line-height: 1.38em;
  padding: 1.5em 1em 1em;
  padding-left: 0;
  padding-bottom: 0.5em;
  color: #afafaf;
  font-size: 0.7em;
}
.shows-section__shows-info {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.81em;
  line-height: 1.5em;
}
.shows-section__shows-info--bold {
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.shows__subcontainer {
  padding: 0 0.5em;
}

.button {
  height: 2.25em;
  border-radius: 0.35em;
  padding: 0.75em;
  padding: 1.5em 1em 1em;
  font-family: "Avenir Next", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.88em;
  line-height: 1.38em;
  padding-bottom: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  width: 100%;
  max-width: 34em;
  margin: 1.25em auto;
}
.button:hover {
  background-color: #000000;
}

.divider {
  border-bottom: 0.12em solid #e1e1e1;
  padding: 1em 0;
  width: 130%;
  padding: 0;
  position: relative;
  right: 1em;
}
.divider:last-child {
  margin-bottom: 1em;
}

.footer {
  padding: 1.5em 1em 1em;
  background-color: #323232;
  color: #ffffff;
}

.social-icons {
  width: 1.5em;
  margin-right: 2em;
}
.social-icons--resize {
  width: 0.9em;
}

.social-links {
  list-style-type: none;
  text-decoration: none;
}
.social-links__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.footer-content {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.81em;
  line-height: 1.5em;
  width: 55%;
}
.footer-content--extra-padding {
  padding-top: 1em;
}
.footer-content__copyright {
  width: 100%;
  font-size: 0.7em;
  padding-bottom: 1.5em;
}

@media (min-width: 768px) {
  .hero-banner {
    height: 28em;
  }
  .hero-banner__container {
    height: 33em;
    position: relative;
    bottom: 6em;
  }
  .hero-banner__container::before {
    height: 30.5em;
  }
  .hero-banner__subcontainer {
    padding: 1.5em 1em 1em;
    padding-left: 0.5em;
    position: absolute;
    top: 7.5em;
  }
  .section-titles {
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    line-height: 2em;
    padding-bottom: 0.25em;
  }
  .section-titles__album-name {
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25em;
    line-height: 2.75em;
    line-height: 1.2;
    position: relative;
    left: 0.4em;
  }
  .section-titles__footer {
    font-size: 1.8em;
  }
  .header {
    height: 3.8em;
    position: relative;
    z-index: 1;
  }
  .header__navbar {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    bottom: 3.1em;
    left: 2em;
    width: 30em;
  }
  .nav-links {
    font-family: "Avenir Next", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.88em;
    line-height: 1.38em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links--active {
    margin-left: 2.25em;
    margin-right: 2.25em;
    padding: 1em 0;
    margin: 0 2em;
  }
  .nav-links--active:hover {
    margin: 0 2em;
  }
  .nav-links--inactive {
    margin: 0 0.2em 0 0.7em;
  }
  .bandsite-logo {
    margin-left: 2.25em;
    margin-right: 2.25em;
  }
  .bandsite-logo__footer {
    margin-top: 2.5em;
  }
  .bandsite-logo__container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
  .soundcloud {
    width: 17em;
    position: relative;
    top: 0.6em;
  }
  .shows__subcontainer {
    display: flex;
  }
  .shows__subcontainer--column {
    width: 100%;
  }
  .shows-section {
    padding-bottom: 0.6em;
    position: relative;
    bottom: 8.5em;
    height: 22.75em;
  }
  .shows-section--flex {
    display: flex;
  }
  .shows-section__shows-info--first {
    margin: 1.5em 0;
  }
  .shows-section__shows-info--center {
    position: relative;
    top: 0.6em;
  }
  .button {
    width: 9em;
    padding: 1em 0 0.8em;
  }
  .button--first {
    position: relative;
    top: 2.3em;
  }
  .button--remaining {
    margin: 0 auto 1.2em;
  }
  .divider {
    width: 100%;
    position: relative;
    right: 0;
  }
  .hidden {
    display: none;
  }
  .footer {
    padding: 3em 2.25em 2.25em;
    padding-top: 1.5em;
    width: 100%;
    font-family: "Avenir Next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.88em;
    line-height: 1.38em;
    font-size: 0.83em;
    position: relative;
    bottom: 0;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 18em;
  }
  .footer__subcontainer {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    max-width: 35em;
  }
  .social-links__container {
    width: 25%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .social-icons {
    width: 1.2em;
    margin-right: 1.5em;
  }
  .social-icons--resize {
    width: 0.73em;
  }
  .footer-content {
    width: 13em;
  }
  .footer-content__copyright {
    width: 100%;
    padding-bottom: 0;
    margin-top: 2.5em;
  }
}
@media (min-width: 1280px) {
  .section-titles {
    margin-left: 2.25em;
    margin-right: 2.25em;
  }
  .section-titles__footer {
    font-size: 1.8em;
    margin: 0;
    padding-bottom: 0;
  }
  .band-site {
    max-width: 55em;
  }
  .header {
    padding: 3em 2.25em 2.25em;
    max-width: 80em;
    padding-top: 1.5em;
  }
  .nav-links {
    font-family: "Avenir Next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.75em;
    line-height: 1.25em;
    position: relative;
    top: 0.35em;
    right: 0.2em;
  }
  .nav-links--active {
    padding: 1.17em 0;
  }
  .nav-links--active:hover {
    padding: 1.17em 0;
  }
  .nav-links--inactive {
    padding: 1.17em 0;
  }
  .nav-links--inactive:hover {
    padding: 1.17em 0;
  }
  .bandsite-logo__container {
    position: absolute;
    top: 0;
    right: 5em;
  }
  .hero-banner {
    max-width: 80em;
    height: 30em;
  }
  .hero-banner__container {
    position: relative;
    bottom: 6em;
  }
  .hero-banner__container::before {
    height: 100%;
  }
  .biography-images__musicians {
    width: 65%;
    max-width: 35em;
    height: 18em;
    padding: 0;
  }
  .biography-text-content {
    max-width: 80em;
  }
  .biography-text-content__quote {
    width: 54%;
    max-width: 30em;
    margin: 0 0 0 9.8em;
    padding-top: 0;
  }
  .biography-text-content__band-info2 {
    padding: 0;
  }
  .about-section__container {
    margin-left: 2.25em;
    margin-right: 2.25em;
    width: 64.5%;
    max-width: 35em;
    margin: 0 auto;
  }
  .about-section__container--flexbox {
    font-family: "Avenir Next", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.63em;
    line-height: 1.25em;
    width: 100%;
  }
}/*# sourceMappingURL=band-site-shows.css.map */