@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/breakpoints' as breakpoints;

.band-site {
    @include avenir-font-regular;
    @include mobile-page-header;
    overflow-x: hidden;
}

.section-titles {
    @include mobile-section-header;

    &__album-name{
        color: colors.$bandsite-white;
        line-height: 1.45;
        // width: 65%;
        width: 75%;
        position: relative;
        // bottom: 10em;
        // top: 0.5em;
        top: 0.2em;
        left: 0.65em;
        // z-index: 1;
    }

    &__footer {
        padding-bottom: 0.4em;
    }
}

.header {
    background-color: colors.$bandsite-black;
    padding: 1.5em 0 0.72em;

    &__list-item {
        @include remove-link-underline;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        // padding: 0 2em 0 0;
    }
}

.nav-links {
    @include remove-link-underline;
    @include avenir-font-regular;

    &--active {
        @include bandsite-active-link;
        // padding: 1em 2em;
        // padding: 1em 2.8em;
        padding: 1em 2.6em 1em 2.8em;
        margin-right: 0;

        &:hover {
            // margin-left: 2em;
            margin-right: 2.8em;
        }
    }

    &--inactive {
        @include bandsite-inactive-link;
        // padding: 1em 0;
        padding: 1em 2em;
        // margin-right: 1em;

        &:hover {
            margin-left: 2em;
        }
    }

    &:hover {
        @include bandsite-hover-link;
        padding: 1em 0;
    }
}

.bandsite-logo {
    @include bandsite-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1em;

    &__footer {
        margin: 3em 0 1em;
    }
}

.hero-banner{
    width: 100%;
    height: 17.25em;
    // position: relative;
    // z-index: 1;

    &__title{
        // @include mobile-footer-copy;
        // @include avenir-font-demi;
        @include mobile-subheader;
        color: colors.$bandsite-white;
        position: relative;
        // bottom: 18em;
        bottom: 0.3em;
        // top: 0;
        left: 1em;
        width: 11em;
        // z-index: 1;
    }

    &__container {
        @include full-image-width;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17.25em;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(colors.$bandsite-black, 0.5); // 50% dark overlay
            // z-index: 1;
            height: 17.25em;
        }
    }

    &__subcontainer {
        @include full-image-width;
        position: absolute;
        // top: 23%;
        // display: flex;
    }
}

.soundcloud{
    width: 90%;
    height: 6em;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 1em;
}




.footer {
    @include mobile-padding-headlines;
    background-color: colors.$bandsite-black;
    color: colors.$bandsite-white;
}

.social-icons {
    width: 1.5em;
    margin-right: 2em;

    &--resize {
        width: 0.9em;
    }
}

.social-links {
    @include remove-link-underline;

    &__container {
        @include full-image-width;
        display: flex;
        justify-content: flex-start;
    }
}

.footer-content {
    @include mobile-footer-copy;
    width: 55%;

    &--extra-padding {
        padding-top: 1em;
    }

    &__copyright {
        @include full-image-width;
        font-size: 0.7em;
        padding-bottom: 1.5em;
    }
}