@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/breakpoints' as breakpoints;

.band-site{
    @include avenir-font-regular;
    @include mobile-page-header;
}

.section-titles {
    @include mobile-section-header;

    &__footer{
        padding-bottom: 0.4em;
    }
}

.full-width{
    @include full-image-width;
}


.header{
    background-color: colors.$bandsite-black;
    // @include mobile-padding-headlines;
    padding: 1.5em 0 0.72em;
    
    &__list-item{
        @include remove-link-underline;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 2em 0 0;
    }
}

.nav-links{
    @include remove-link-underline;
    @include avenir-font-regular;

    &--active{
        @include bandsite-active-link;
        // @include bandsite-divider;
    }

    &--inactive{
        @include bandsite-inactive-link;
        margin-right: 1em;
    }

    &:hover{
        @include bandsite-hover-link;
        margin-left: 2em;
    }
}

.bandsite-logo{
    @include bandsite-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1em;

    &__footer{
        // @include mobile-padding-headlines;
        // border: 2px solid red;
        // position: relative;
        // left: 0;
        // display: flex;
        // justify-content: flex-start;
        // align-items: flex-start;
        margin: 3em 0 1em;
    }
}

.hero-banner{
    // width: 100%;
    @extend .full-width;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
    

    &__container{
        // width: 100%;
        @extend .full-width;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: relative;
        // height: 100%;
        // height: 251px;
        // background-image: url('../../assets/images/BandSite/hero-bio.jpg'); // Replace with your image path
        // background-size: cover; // Ensures the image covers the entire area
        // background-position: center center; // Keeps the image centered
        // background-repeat: no-repeat; // Prevents repeating if the image is smaller than the container

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(colors.$bandsite-black, 0.5); // 50% dark overlay
            z-index: 1;
        }
    }

    &__subcontainer{
        // width: 100%;
        @extend .full-width;
        position: absolute;
        top: 23%;
        display: flex;
    }

    &__title{
        // @include mobile-section-header;
        @include mobile-padding-headlines;
        @extend .section-titles;
        // font-weight: 600;
        color: colors.$bandsite-white;
        z-index: 1;
        padding-left: 0.75em;
        font-size: 7.2vw;
        // @include mobile-subheader;
        // position: absolute;
        // position: relative;
        // top: 20%;
        // top: 0;
        // left: 0;
        // position: relative;
        // bottom: 6em;
        // right: 0.7em;
        // padding-left: 0.65em;
        // margin: 0 auto;
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
    }
}

.about-section{
    // width: 100%;
    @extend .full-width;
    // @include mobile-margin;
    @include mobile-padding-headlines;
}

.biography-images{
    @extend .full-width;
    height: 15em;
    // height: 50vw;
    max-height: 50vw;
    // max-height: 15em;
}

.biography-text-content{
    @include mobile-body-copy;
    width: 94.7%;

    &__quote{
        @include mobile-subheader;
        line-height: 1.8em;
        width: 97%;

        &--block{
            display: flex;
        }
    }

    &__band-info2{
        @include mobile-padding-headlines;
        padding-left: 0;
        width: 100%;
        padding-bottom: 0;
    }
}

.section-subtitle{
    @include mobile-padding-headlines;
    @include mobile-subheader;
    padding-left: 0;

    &--less-padding{
        padding-top: 1em;
    }
}

.gallery-section{
    @include mobile-padding-headlines;
    background-color: colors.$alabaster;
    padding-bottom: 0.5em;

    & > .biography-images:not(:last-child) {
        padding-bottom: 0.5em;
    }
}

.footer{
    @include mobile-padding-headlines;
    // @include mobile-footer-copy;
    background-color: colors.$bandsite-black;
    color: colors.$bandsite-white;
}

.social-icons{
    width: 1.5em;
    // @include social-icons;
    // width: 100%;
    // width: 100%;
    // max-width: 2em;
    margin-right: 2em;

    &--resize{
        // @include resize-social-icons;
        // width: 100%;
        width: 0.9em;
        // width: 55%;
        // margin-left: 1.15em;
    }
}

.social-links{
    @include remove-link-underline;

    &__container{
        // width: 50%;
        @extend .full-width;
        // height: 100%;
        display: flex;
        // justify-content: space-evenly;
        justify-content: flex-start;
        // position: relative;
        // right: 1.25em;
        // width: 40%;
        // right: 1em;
    }
}

.footer-content{
    @include mobile-footer-copy;
    width: 55%;

    &--extra-padding{
        padding-top: 1em;
    }

    &__copyright{
        width: 100%;
        font-size: 0.7em;
        padding-bottom: 1.5em;
    }
}