@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/breakpoints' as breakpoints;

.band-site{
    @include avenir-font-regular;
    @include mobile-page-header;
}

.header{
    background-color: colors.$bandsite-black;
    // @include mobile-padding-headlines;
    padding: 1.5em 0 0.72em;
    
    &__list-item{
        @include remove-link-underline;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 2em 0 0;
    }
}

.nav-links{
    @include remove-link-underline;
    @include avenir-font-regular;

    &--active{
        @include bandsite-active-link;
        // @include bandsite-divider;
    }

    &--inactive{
        @include bandsite-inactive-link;
    }

    &:hover{
        @include bandsite-hover-link;
        margin-left: 2em;
    }
}

.bandsite-logo{
    @include bandsite-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1em;
}

.hero-banner{
    width: 100%;
    // background-color: rgba(colors.$bandsite-black, 0.5);
    // height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    

    &__container{
        // position: relative;
        width: 100%;
        height: 100%;
        // height: 251px;
        position: relative;
        background-image: url('../../assets/images/BandSite/hero-bio.jpg'); // Replace with your image path
        background-size: cover; // Ensures the image covers the entire area
        background-position: center center; // Keeps the image centered
        background-repeat: no-repeat; // Prevents repeating if the image is smaller than the container
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(colors.$bandsite-black, 0.5); // 50% dark overlay
            z-index: 1;
        }
    }

    &__title{
        @include mobile-section-header;
        color: colors.$bandsite-white;
        position: absolute;
        top: 20%;
        left: 0;
        // position: relative;
        // bottom: 6em;
        // right: 0.7em;
        z-index: 1;
        @include mobile-padding-headlines;
        // margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }
}