@use '../../styles/partials/global' as *;
@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/breakpoints' as breakpoints;

.band-site {
    @include avenir-font-regular;
    @include mobile-page-header;
    overflow-x: hidden;
}

.section-titles {
    @include mobile-section-header;

    &__album-name{
        color: colors.$bandsite-white;
        line-height: 1.45;
        // width: 65%;
        width: 75%;
        max-width: 10em;
        position: relative;
        // bottom: 10em;
        // top: 0.5em;
        top: 0.2em;
        left: 0.65em;
        // z-index: 1;
    }

    &__footer {
        padding-bottom: 0.4em;
    }

    &__shows{
        // @include mobile-padding-headlines;
        // margin: 1em 0.7em 0;
        // margin: 1em 0 0;
        margin: 1em 0.33em 0;
    }
}

.header {
    background-color: colors.$bandsite-black;
    padding: 1.5em 0 0.72em;

    &__list-item {
        @include remove-link-underline;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        // padding: 0 2em 0 0;
    }
}

.nav-links {
    @include remove-link-underline;
    @include avenir-font-regular;

    &--active {
        @include bandsite-active-link;
        padding: 1em 2.8em;
        // padding: 1em 0;

        &:hover {
            // margin-left: 2em;
            margin-right: 2.8em;
        }
    }

    &--inactive {
        @include bandsite-inactive-link;
        padding: 1em 0;
        margin-left: 2em;
    }

    &:hover {
        @include bandsite-hover-link;
        padding: 1em 0;
        
    }

    // &--active {
    //     @include bandsite-active-link;
    //     // padding: 1em 2em;
    //     // padding: 1em 2.8em 1em 1.9em;
    //     padding: 1em 2.8em;
    //     // padding: 1em 2.6em 1em 2.8em;
    //     margin-right: 0;

    //     &:hover {
    //         // margin-left: 2em;
    //         margin-right: 2.8em;
    //     }
    // }

    // &--inactive {
    //     @include bandsite-inactive-link;
    //     // padding: 1em 0;
    //     padding: 1em 2em;
    //     // margin-right: 1em;

    //     &:hover {
    //         margin-left: 2em;
    //     }
    // }

    // &:hover {
    //     @include bandsite-hover-link;
    //     padding: 1em 0;
    // }
}

.bandsite-logo {
    @include bandsite-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1em;

    &__footer {
        margin: 3em 0 1em;
    }
}

.hero-banner{
    width: 100%;
    // height: 17.25em;
    height: 18em;
    // position: relative;
    // z-index: 1;

    &__title{
        // @include mobile-footer-copy;
        // @include avenir-font-demi;
        @include mobile-subheader;
        color: colors.$bandsite-white;
        position: relative;
        // bottom: 18em;
        bottom: 0.3em;
        // top: 0;
        left: 1em;
        width: 11em;
        // z-index: 1;
    }

    &__container {
        @include full-image-width;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 17.25em;
        height: 18em;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(colors.$bandsite-black, 0.5); // 50% dark overlay
            // z-index: 1;
            // height: 17.25em;
            height: 18em;
        }
    }

    &__subcontainer {
        @include full-image-width;
        position: absolute;
        // top: 23%;
        // display: flex;
    }
}

.soundcloud{
    width: 90%;
    // max-width: 17em;
    // max-width: 20em;
    height: 6em;
    display: flex;
    // margin: 0 auto;
    margin-left: 1em;
    position: relative;
    top: 1em;
    border-radius: 0.25em;
}

.shows-section{
    // @include mobile-padding-headlines;
    // padding-top: 0;
    // padding-bottom: 0;
    padding: 0 0.5em;

    &__headings{
        @include mobile-subheader;
        @include mobile-padding-headlines;
        padding-left: 0;
        padding-bottom: 0.5em;
        color: colors.$silver;
        font-size: 0.7em;
    }

    &__shows-info{
        @include mobile-body-copy;

        &--bold{
            @include avenir-font-demi;
        }
    }
}

.shows{
    &__subcontainer{
        padding: 0 0.5em;
    }
}

.button {
    @include mobile-form-fields;
    @include mobile-padding-headlines;
    @include mobile-subheader;
    padding-bottom: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$bandsite-black;
    color: colors.$white;
    border: none;
    border-radius: 0.25em;
    width: 100%;
    // max-width: 21em;
    max-width: 34em;
    margin: 1.25em auto;

    &:hover {
        background-color: colors.$bandsite-darkblack;
    }
}

.divider {
    @include bandsite-divider;
    width: 130%;
    padding: 0;
    position: relative;
    right: 1em;

    &:last-child{
        margin-bottom: 1em;
    }
}



.footer {
    @include mobile-padding-headlines;
    background-color: colors.$bandsite-black;
    color: colors.$bandsite-white;
}

.social-icons {
    width: 1.5em;
    margin-right: 2em;

    &--resize {
        width: 0.9em;
    }
}

.social-links {
    @include remove-link-underline;

    &__container {
        @include full-image-width;
        display: flex;
        justify-content: flex-start;
    }
}

.footer-content {
    @include mobile-footer-copy;
    width: 55%;

    &--extra-padding {
        padding-top: 1em;
    }

    &__copyright {
        @include full-image-width;
        font-size: 0.7em;
        padding-bottom: 1.5em;
    }
}


@include breakpoints.tablet {
    .hero-banner {
        // width: 100%;
        // height: 17.25em;
        // height: 100%;
        // height: 24em;
        // height: 30em;
        height: 28em;
        // max-height: 28em;
        // max-height: 100%;
        // border: 2px solid blue;
        // height: 100vh;
        // height: 35em;
        // height: 26em;
        // height: 89%;
        // height: 88%;
        // height: 55vh;
        // height: 131%;
        // height: 85vh;
        // position: relative;
        // z-index: 1;

        // &__title {
        //     // @include mobile-footer-copy;
        //     // @include avenir-font-demi;
        //     @include mobile-subheader;
        //     color: colors.$bandsite-white;
        //     position: relative;
        //     // bottom: 18em;
        //     bottom: 0.3em;
        //     // top: 0;
        //     left: 1em;
        //     width: 11em;
        //     // z-index: 1;
        // }

        &__container {
            // @include full-image-width;
            // position: relative;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 17.25em;
            // height: 100vh;
            // height: 75vh;
            // height: 90vh;
            // height: 82vh;
            // height: 110vh;
            // height: 100vh;
            // position: relative;
            // top: 0;
            // height: 100%;
            // height: 42vh;
            // height: 30em;
            height: 33em;
            position: relative;
            bottom: 6em;
            // max-height: 85vh;
            // position: absolute;
            // top: 0;
            // height: 26em;
            // border: 2px solid blue;

            &::before {
                // content: '';
                // position: absolute;
                // inset: 0;
                // background-color: rgba(colors.$bandsite-black, 0.5); // 50% dark overlay
                // z-index: 1;
                // height: 17.25em;
                // height: 116.5%;
                // height: 100%;
                // height: 90%;
                // height: 100%;
                // height: 115.7%;
                // height: 94.5%;
                // height: 94%;
                // height: 21.45em;
                // height: 100vh;
                // height: 87.5vh;
                height: 30.5em;
            }
        }

        &__subcontainer{
            @include mobile-padding-headlines;
            padding-left: 0.5em;
            // padding-top: 0;
            position: absolute;
            top: 7.5em;
        }
    }

    .section-titles {
        @include mobile-page-header;
        padding-bottom: 0.25em;

        &__album-name {
            @include tablet-section-header;
            line-height: 1.2;
            position: relative;
            left: 0.4em;
        }

        &__footer {
            font-size: 1.8em;
        }
    }

    .header {
        height: 3.8em;
        position: relative;
        z-index: 1;
        // display: flex;
        // justify-content: space-between;
        // border: 2px solid red;
        // width: 100%;

        &__navbar {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            position: relative;
            bottom: 3.1em;
            left: 2em;
            width: 30em;
        }
    }

    .nav-links {
        @include mobile-subheader;
        display: flex;
        justify-content: center;
        align-items: center;

        &--active {
            @include tablet-margin;
            padding: 1em 0;
            // margin-left: 2em;
            margin: 0 2em;
            // margin-left: 0.35em;
            // margin-right: 3.2em;
            // margin: 0 1.25em;

            &:hover{
                margin: 0 2em;
            }
        }

        &--inactive{
            // margin: 0 0.7em;
            margin: 0 0.2em 0 0.7em;
        }
    }

    .bandsite-logo {
        @include tablet-margin;

        &__footer {
            margin-top: 2.5em;
        }

        &__container {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    .soundcloud {
        width: 17em;
        position: relative;
        top: 0.6em;
        // border-radius: 0.25em;
    }

    .shows{
        // &__container{
        //     // display: flex;
        //     // flex-wrap: wrap;
        //     // border: 2px solid red;
        // }

        &__subcontainer{
            display: flex;

            &--column{
                // display: flex;
                // flex-direction: column;
                // border: 2px solid blue;
                // width: 100%;
                @include full-image-width;
            }
        }
    }

    .shows-section {
        padding-bottom: 0.6em;
        // margin-top: 4.5em;
        position: relative;
        // bottom: 9em;
        bottom: 8.5em;
        // height: 23em;
        height: 22.75em;
        // margin-top: 20.4em;
        // margin-top: 19em;
        // border: 2px solid blue;

        &--flex{
            display: flex;
        }

        &__shows-info {
            // @include mobile-body-copy;
            
            &--first{
                // border: 2px solid blue;
                margin: 1.5em 0;
            }

            &--center{
                position: relative;
                top: 0.6em;
                // left: 2.5em;
            }
        }
    }

    .button {
        width: 9em;
        padding: 1em 0 0.8em;

        &--first{
            // margin: 0 auto;
            // margin-bottom: 0;
            position: relative;
            // bottom: 0;
            top: 2.3em;
            // left: -10em;
        }

        &--remaining{
            margin: 0 auto 1.2em;
        }
    }

    .divider {
        // @include bandsite-divider;
        width: 100%;
        // display: flex;
        // margin: 0 auto;
        // padding: 0;
        position: relative;
        right: 0;
    }

    .hidden{
        // visibility: hidden;
        display: none;
    }





    .footer {
        @include tablet-padding-headlines;
        padding-top: 1.5em;
        @include full-image-width;
        @include tablet-body-copy;
        font-size: 0.83em;
        position: relative;
        bottom: 0;

        &__container {
            display: flex;
            justify-content: space-between;
            width: 50%;
            max-width: 18em;
        }

        &__subcontainer {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            max-width: 35em;
        }
    }

    .social-links {
        &__container {
            width: 25%;
            max-width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .social-icons {
        width: 1.2em;
        margin-right: 1.5em;

        &--resize {
            width: 0.73em;
        }
    }

    .footer-content {
        width: 13em;

        &__copyright {
            @include full-image-width;
            padding-bottom: 0;
            margin-top: 2.5em;
        }
    }
}


@include breakpoints.desktop {
    .section-titles {
        @include tablet-margin;

        &__footer {
            font-size: 1.8em;
            margin: 0;
            padding-bottom: 0;
        }
    }

    .band-site {
        max-width: 55em;
    }

    .header {
        @include tablet-padding-headlines;
        @include desktop-max-width;
        padding-top: 1.5em;
    }

    .nav-links {
        @include tablet-labels-and-buttons;
        // margin-top: 0.35em;
        // border: 2px solid red;
        position: relative;
        top: 0.35em;
        right: 0.2em;

        &--active {
            padding: 1.17em 0;

            &:hover {
                padding: 1.17em 0;
            }
        }

        &--inactive {
            padding: 1.17em 0;

            &:hover {
                padding: 1.17em 0;
            }
        }
    }

    .bandsite-logo {
        &__container {
            position: absolute;
            top: 0;
            right: 5em;
        }
    }

    .hero-banner {
        @include desktop-max-width;
        // height: 40em;
        // height: 100vh;
        // height: 24em;
        height: 30em;
        // background-size: contain;

        &__container {
            // height: 30em;
            // height: 10%;
            position: relative;
            bottom: 6em;
            // bottom: 0;
    
            &::before {
                // height: 90%;
                height: 100%;
            }
        }

        // &__title {
        //     // padding: 0.85em 0.5em;
        // }
    }

    .biography-images {
        &__musicians {
            width: 65%;
            max-width: 35em;
            height: 18em;
            padding: 0;
        }
    }

    .biography-text-content {
        @include desktop-max-width;

        &__quote {
            width: 54%;
            max-width: 30em;
            margin: 0 0 0 9.8em;
            padding-top: 0;
        }

        &__band-info2 {
            padding: 0;
        }
    }

    .about-section {
        &__container {
            @include tablet-margin;
            width: 64.5%;
            max-width: 35em;
            margin: 0 auto;

            &--flexbox {
                @include mobile-labels-and-buttons;
                @include full-image-width;
            }
        }
    }
}