@use './partials/global' as *;
@use './partials/colors' as colors;
@use './partials/breakpoints' as breakpoints;

// heading 1 & 2
.section-titles{
    @include font-light;
    font-size: 60px;
}

// heading 3, nav heading, footer heading
.section-subtitles{
    @include font-light;
    font-size: 33px;
}

// nav link, button
.nav-links{
    @include font-regular;
    font-size: 21px;
}

.buttons{
    @extend .nav-links;
    background-color: colors.$nitro-blue;
    color: colors.$white;
}

// paragraph text - regular
.desciptive-text{
    @include font-regular;
    font-size: 18px;
}

// paragraph text - regular italic
.descriptive-text__description{
    @include font-italic;
    font-size: 18px;
}

// discount text
.discount-code{
    @include font-regular;
    font-size: 45px;
}

// FirstNitro discount code on landing page
.discount-code--bold{
    @include font-bold;
}

// discount border box on landing page
.discount-banner{
    width: 90%;
    background-color: colors.$graphite;
    color: colors.$white;
}

// small icons
.icons{
    width: 50px;
}

// product images on landing page
.product-images{
    height: 280px;
}

// menu border box
.title-box{
    width: 300px;
}

// menu banner background
.banner{
    background-image: url(../assets/images/coffee-circle.jpg);
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
}

// sub-navigation (menu links)
.nav-links__menu{
    width: 100%;
    background-color: colors.$graphite;
    color: colors.$white;
    display: flex;
}


// header nav
.header__nav-list{
    list-style-type: none;
    padding: 1em;
}

.header__links{
    text-decoration: none;
}

.header__list-item--left{
    display: flex;
}

.header__list-item:not(:first-child){
    text-align: center;
    padding: 1em;
    width: 100%;
}

.section-subtitles--blue{
    color: colors.$nitro-blue;
}



