@media screen and (min-width: 320px) and (max-width: 768px) {
	.header {
		background-color: #fff0ed;
		width: 100%;
	}

	.header__nav {
		position: fixed;
		background-color: #fff0ed;
		width: 100%;
		top: 0;
		z-index: 1;
	}

	.header__nav-list {
		list-style-type: none;
		margin: 0;
		padding: 1em;
		display: flex;
		position: relative;
	}

	.header__list-item {
		display: flex;
	}

	.header__list-item--left {
		width: 80%;
	}

	.header__list-item:not(:first-child) {
		position: relative;
		/* top: 25px; */
		top: 1.55em;
		left: 1em;
		width: 20%;
	}

	.header__links {
		text-decoration: none;
	}
}

/* .header__banner-name {
	margin-top: 3em;
} */

.banner__container {
	display: flex;
	margin-top: 6em;
}
