@media screen and (min-width: 320px) and (max-width: 768px) {
	.header {
		background-color: #fff0ed;
		width: 100%;
	}

	.header__nav {
		position: fixed;
		background-color: #fff0ed;
		width: 100%;
		top: 0;
		z-index: 1;
	}

	.header__nav-list {
		list-style-type: none;
		margin: 0;
		padding: 1em;
		display: flex;
		position: relative;
	}

	.header__list-item {
		display: flex;
	}

	.header__list-item--left {
		width: 80%;
	}

	.header__list-item:not(:first-child) {
		position: relative;
		/* top: 25px; */
		top: 1.55em;
		left: 1em;
		width: 20%;
	}

	.header__links {
		text-decoration: none;
	}

	.banner__container {
		display: flex;
		margin-top: 6em;
	}

	.main__products {
		background-color: #f7f7f7;
	}

	.main__product-header {
		margin: 0;
	}

	.main__promotion {
		background-color: #fff;
	}

	.main__promotion-header {
		margin: 0;
	}

	.main__promotion-image {
		background-image: url(../assets/images/coldbrewbackground.png);
		/* background-repeat: no-repeat; */
		background-size: contain;
	}

	.footer {
		background-color: #fff0ed;
		width: 100%;
		position: relative;
		bottom: 0;
	}

	.footer__socials-list {
		margin: 0;
	}
}
