@use './partials/global' as *;
@use './partials/colors' as colors;
@use './partials/breakpoints' as breakpoints;

.section-titles{
    @include section-titles;
}

.section-subtitles{
    @include section-subtitles;

    &--blue {
        @include blue-text;
    }
    
    &__footer {
        @include footer-headers;
    }
}

.nav-links{
    @include nav-links;
}

.descriptive-text{
    @include paragraph-text-regular;

    &__description{
        @include paragraph-text-regular-italic;
    }

    &__price {
        @include menu-price;
    }
}

.icons{
    @include icons;
}

.title-box{
    @include title-box;
}

.banner{
    @include background;
    background-image: url(../assets/images/coffee-circle.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 1200px;
}

.sub-navigation{
    width: 100%;
    background-color: colors.$graphite;
    color: colors.$white;
    display: flex;
    border-left: 3px solid colors.$nitro-blue;
    padding: 0 1em;
}

.menu-links{
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: colors.$graphite;
        padding: 0.75em 0.4em;
    }
}

.header{
    &__nav-list{
        @include header-nav-list;
    }

    &__links {
        @include header-links;
    }

    &__list-item{
        &--left {
            @include header-link-nitro;
        }

        &:not(:first-child) {
            @include other-header-links;
        }
    }
}

.menu{
    padding: 1em 1em 2em;
    text-align: center;

    &:last-child {
        border-bottom: 52px solid colors.$graphite;
    }

    &--white {
        background-color: colors.$white;
        width: 100%;
    }
}

.products{
    @extend .section-subtitles;
    padding: 0.7em 0 0.25em;
}

.footer {
    @include footer;

    &__container {
        @include footer-container;
    }

    &__socials-list {
        @include footer-socials-list;
    }

    &__list-item{
        @include footer-socials-icons;
    }
}

.address{
    &--next-line {
        @include address-block-text;
    }
}

.business-hours {
    &--bold {
        @include business-hours-bold;
    }
}

.disabled{
    @include disabled;
}


@include breakpoints.tablet{
    .header {
        &__nav-list {
			@include tablet-header-nav-list;
        }

        &__list-item {
            &--left {
                @include tablet-header-link-nitro;
            }

            &:not(:first-child) {
                @include tablet-other-header-links;
            }
        }
    }

    .banner {
        background-size: 1750px;
    }

    .descriptive-text {
        &__description {
            width: 26.5em;
            margin: 0 auto;
        }
    }

    .footer {
        @include tablet-footer;

        &__container{
            @include tablet-footer-container;
        
            &:first-child{
                @include tablet-address;
            }

            &:nth-of-type(even){
                @include tablet-business-hours;
            }

            &:last-child{
                @include tablet-socials;
            }
        }
    }
}


@include breakpoints.desktop{
    body{
        @include desktop-max-width;
    }
}