@use './partials/global' as *;
@use './partials/colors' as colors;
@use './partials/breakpoints' as breakpoints;

// heading 1 & 2
.section-titles {
	// @include font-light;
	// font-size: 60px;
	@include section-titles;

	&--center{
		text-align: center;
		padding: 1em 1em 0;
	}
}

// heading 3, nav heading, footer heading
.section-subtitles {
	// @include font-light;
	// font-size: 33px;
	@include section-subtitles;

	&--blue {
		// color: colors.$nitro-blue;
		@include blue-text;
	}

	&__footer {
		// margin: 0.75em 0;
		@include footer-headers;
	}
}

// nav link, button
.buttons {
	@include buttons;

	&--center{
		display: flex;
		margin: 0 auto;
	}
}

// paragraph text - regular
.descriptive-text {
	// @include font-regular;
	// font-size: 18px;
	@include paragraph-text-regular;
	// width: 90%;
	// padding: 1em 0 2em;
	// border:  2px dashed darkorange;

	&__section-paragraph{
		@include section-paragraph;
	}

	&--gray {
		color: #808080;
		padding: 0;
	}
}

// discount text
.discount-code {
	// @include font-regular;
	// font-size: 45px;
	@include discount-code;
	color: colors.$white;

	// FirstNitro discount code on landing page
	&--bold {
		@include font-bold;
	}
}

// small icons
.icons {
	@include icons;
}

// product images on landing page
.product-images {
	@include product-images;
	display: flex;
	margin: 0 auto;
	padding: 1.5em;
}

// header nav
.header {
	&__nav-list {
		// list-style-type: none;
		// padding: 1em;
		@include header-nav-list;
	}

	&__links {
		// text-decoration: none;
		@include header-links;
	}

	&__list-item {
		&--left {
			// display: flex;
			@include header-link-nitro;
		}

		&:not(:first-child) {
			// text-align: center;
			// padding: 1em;
			// width: 100%;
			@include other-header-links;
		}
	}

	&__banner-image {
		max-width: 14em;
	}
}

// menu banner background / landing page nitro coffee banner
.banner {
	// nitro coffee banner
	&__container{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__subcontainer{
		// padding: 6em 3.5em 2em;
		padding: 3em 3.5em 2em;
		margin: 0 auto;
		// max-width: 70%;
		max-width: 100%;

		&--tilted-can{
			background-image: url(../assets/images/coldbrewbackground.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			// margin: 3em auto 5em;
			margin: 3em auto 8em;
			position: relative;
			height: 25em;
		}
	}
}

// our products section
.main{
	&__products{
		background-color: colors.$light-gray;
		padding-bottom: 3em;
	}

	// promotional section (we're different)
	&__promotion{
		background-color: colors.$white;
	}

	&__promotion-icon-list{
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		max-width: 27em;
		margin-bottom: 1.5em;
	}

	&__promotion-discount{
		background-color: colors.$graphite;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1.5em 3.5em;
		margin: 0 auto 7.5em;
		max-width: 95%;
	}

	&__promotion-image{
		position: relative;
		// bottom: 0.5em;
		bottom: 0.65em;
	}
}

// product cards
.product-cards{
	background-color: colors.$white;
	max-width: 20em;
	margin: 3.5em auto;
	border-radius: 0.7em;
	box-shadow: 2px 2px 6px 2px colors.$light-gray;
}

.product-text{
	&__container {
		background-color: colors.$nitro-pink;
		display: flex;
		align-items: center;
		width: 100%;
		border-bottom-left-radius: 0.7em;
		border-bottom-right-radius: 0.7em;
		box-shadow: 2px 2px 6px 2px colors.$light-gray;
	}

	&__subcontainer {
		padding: 2em 1em;
		width: 100%;
		
	
		&--left {
			width: 80%;
		}
	
		&--right {
			width: 20%;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__price {
		@extend .section-subtitles;
		color: colors.$nitro-blue;
		font-weight: 700;
	}
}

// footer
.footer {
	// background-color: colors.$nitro-pink;
	// width: 100%;
	// position: relative;
	// bottom: 0;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// text-align: left;
	// padding: 0.5em 2em;
	@include footer;
	// padding: 1em 2em 2em;
	// padding: 2.5em 2em 1em;

	&__container {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: flex-start;
		// margin: 1.5em auto;
		// // width: 63%;
		// width: 70%;
		// // max-width: 18.2em;
		// max-width: 17em;
		// border: 2px solid blue;
		@include footer-container;
	}

	&__socials-list {
		// list-style-type: none;
		// display: flex;
		// padding: 1.3em 0;
		@include footer-socials-list;
	}

	&__list-item {
		// padding-right: 0.5em;
		@include footer-socials-icons;
	}
}



.address {
	&--next-line {
		// display: flex;
		// padding: 0;
		@include address-block-text;
	}
}

.business-hours {
	// margin: 0;
	// padding-bottom: 0;

	// &:last-child{
	// 	padding: 0 0 2em;
	// 	border:  2px solid red;
	// }

	&--bold {
		// @include font-bold;
		@include business-hours-bold;
	}
}



// home / menu disabled styling 
.disabled{
	// pointer-events: none;
	// opacity: 0.5;
	// cursor: none;
	@include disabled;
}



@include breakpoints.tablet{
	// header
	.header{
		&__nav-list{
			// display: flex;
			@include tablet-header-nav-list;
		}

		&__list-item{
			&--left{
				// align-items: baseline;
				// width: 75%;
				@include tablet-header-link-nitro;
			}

			&:not(:first-child){
				// display: flex;
				// justify-content: space-evenly;
				// min-width: 11em;
				// width: 25%;
				// position: relative;
				// top: 0.6em;
				// padding: 1em 0;
				@include tablet-other-header-links;
			}
		}
	}

	// nitro coffee banner
	.banner{
		&__container{
			flex-wrap: nowrap;
		}

		&__subcontainer{
			padding: 2em 0 3em;
			margin: 0 auto;
			width: 50%;
		
			&--nitro-coffee{
				padding: 6em 2em 2em;
				margin-left: 7.5%;
				min-width: 23.5em;
				width: 50%;
			}

			&--coffee-bag{
				display: flex;
				justify-content: center;
				width: 35em;
				max-width: 50%;
			}

			&--promotional-left{
				padding: 6em 1.5em 2em;
				// margin: 0 2em;
				// margin: 0 0 0 1.5em;
				// margin-left: 2.5%;
				// margin-left: 2em;
				// margin-top: auto;
				// margin-bottom: auto;
				// margin: auto auto auto 7.5%;
				margin: 1em auto 4em 5%;
				width: 50%;
				// max-width: 30em;
				max-width: 70%;

				// margin: 3em 1em;
				// width: 45em;
				// max-width: 100%;
				// width: 70%;
				// width: 50%;
				// min-width: 15em;
				// max-width: 80%;
				// padding-left: 5em;
			}

			&--tilted-can{
				padding-top: 4em;
				margin: 6em 1.5em;
				width: 45em;
				max-width: 31.5em;
			}
		}
	}

	// paragraph text - regular
	.descriptive-text {
		&--three-lines{
			width: 110%;
			max-width: 20em;
		}

		&--two-lines{
			width: 105%;
			max-width: 25em;
		}
	}

	// products section
	.product-cards {
		width: 20em;
		margin-left: 0.5em;
		margin-right: 0.5em;

		&__container{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	// promotional section
	.main{
		&__promotion{
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			width: 100%;

			&--top{
				display: flex;
			}

			&--bottom{
				width: 100%;
				display: flex;
				margin: 2em auto;
			}
		}

		&__promotion-discount{
			display: flex;
			padding: 1.5em 5em;
		}
	}

	// footer
	.footer {
		// width: 100%;
		// display: flex;
		// flex-direction: row;
		// justify-content: center;
		// align-items: center;
		@include tablet-footer;

		&__container {
			// width: 25%;
			// min-width: 10%;
			// display: flex;
			// flex-direction: column;
			// justify-content: space-evenly;
			@include tablet-footer-container;

			&:first-child {
				// width: 37.5%;
				@include tablet-address;
				// @include tablet-business-hours;
			}

			&:nth-of-type(even) {
				// width: 37.5%;
				// min-width: 17.5em;
				// min-width: 18.2em;
				// min-width: 17em;
				@include tablet-business-hours;
			}

			&:last-child {
				@include tablet-socials;
			}
		}
	}
}



@include breakpoints.desktop{
	body{
		// max-width: 80em;
		@include desktop-max-width;
	}

	// .footer {

	// 	&__container {
	// 		width: 15%;
	// 		border: 2px solid red;
	// 	}
	// }
}