@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../assets/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #393939;
}

body {
  background-color: #fff0ed;
}

.section-titles {
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
}
.section-titles--center {
  text-align: center;
  padding: 1em 1em 0;
}

.section-subtitles, .product-text__price {
  font-weight: 300;
  font-style: normal;
  font-size: 33px;
}
.section-subtitles--blue {
  color: #5bacc3;
}
.section-subtitles__footer {
  margin: 0.75em 0;
}

.buttons {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  text-decoration: none;
  background-color: #5bacc3;
  color: #fff;
  padding: 0.4em 1.2em;
  border: 2px solid #5bacc3;
}
.buttons--center {
  display: flex;
  margin: 0 auto;
}
.buttons--enabled {
  cursor: pointer;
}
.buttons--disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.descriptive-text {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.descriptive-text__section-paragraph {
  width: 90%;
  padding: 1em 0 2em;
}
.descriptive-text--gray {
  color: #808080;
  padding: 0;
}

.discount-code {
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #fff;
}
.discount-code--bold {
  font-weight: 700;
  font-style: normal;
}

.icons {
  width: 50px;
}

.product-images {
  height: 280px;
  display: flex;
  margin: 0 auto;
  padding: 1.5em;
}

.header__nav-list {
  list-style-type: none;
  padding: 1em;
}
.header__links {
  text-decoration: none;
}
.header__list-item--left {
  display: flex;
}
.header__list-item:not(:first-child) {
  text-align: center;
  padding: 1em;
  width: 100%;
}
.header__banner-image {
  max-width: 14em;
}

.banner__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.banner__subcontainer {
  padding: 3em 3.5em 2em;
  margin: 0 auto;
  max-width: 100%;
}
.banner__subcontainer--tilted-can {
  background-image: url(../assets/images/coldbrewbackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto 8em;
  position: relative;
  height: 25em;
}

.main__products {
  background-color: #f7f7f7;
  padding-bottom: 3em;
}
.main__promotion {
  background-color: #fff;
}
.main__promotion-icon-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 27em;
  margin-bottom: 1.5em;
}
.main__promotion-discount {
  background-color: #393939;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 3em;
  margin: 0 auto 7.5em;
  width: 90%;
}
.main__promotion-image {
  position: relative;
  bottom: 0.65em;
}

.product-cards {
  background-color: #fff;
  max-width: 20em;
  margin: 3.5em auto;
  border-radius: 0.7em;
  box-shadow: 2px 2px 6px 2px #f7f7f7;
}

.product-text__container {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  box-shadow: 2px 2px 6px 2px #f7f7f7;
}
.product-text__subcontainer {
  padding: 2em 1em;
  width: 100%;
}
.product-text__subcontainer--left {
  width: 80%;
}
.product-text__subcontainer--right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.product-text__price {
  color: #5bacc3;
  font-weight: 700;
}

.footer {
  background-color: #fff0ed;
  width: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 1em 2em 2em;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1.5em auto;
  width: 70%;
  max-width: 17em;
}
.footer__socials-list {
  list-style-type: none;
  display: flex;
}
.footer__list-item {
  padding-right: 0.5em;
}

.address--next-line {
  display: flex;
}

.business-hours--bold {
  font-weight: 700;
  font-style: normal;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

@media (min-width: 768px) {
  .header__nav-list {
    display: flex;
  }
  .header__list-item--left {
    align-items: baseline;
    width: 75%;
  }
  .header__list-item:not(:first-child) {
    display: flex;
    justify-content: space-evenly;
    min-width: 11em;
    width: 25%;
    position: relative;
    top: 0.6em;
    padding: 1em 0;
  }
  .banner__container {
    flex-wrap: nowrap;
  }
  .banner__subcontainer {
    padding: 2em 0 3em;
    margin: 0 auto;
    width: 50%;
  }
  .banner__subcontainer--nitro-coffee {
    padding: 6em 2em 2em;
    margin-left: 7.5%;
    min-width: 23.5em;
    width: 50%;
  }
  .banner__subcontainer--coffee-bag {
    display: flex;
    justify-content: center;
    width: 35em;
    max-width: 50%;
  }
  .banner__subcontainer--promotional-left {
    padding: 6em 1.5em 2em;
    margin: 1em auto 4em 5%;
    width: 50%;
    max-width: 70%;
  }
  .banner__subcontainer--tilted-can {
    padding-top: 4em;
    margin: 6em 1.5em;
    width: 45em;
    max-width: 31.5em;
  }
  .descriptive-text--three-lines {
    width: 110%;
    max-width: 20em;
  }
  .descriptive-text--two-lines {
    width: 105%;
    max-width: 25em;
  }
  .product-cards {
    width: 20em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .product-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main__promotion {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .main__promotion--top {
    display: flex;
  }
  .main__promotion--bottom {
    width: 100%;
    display: flex;
    margin: 2em auto;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer__container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer__container:first-child {
    width: 37.5%;
  }
  .footer__container:nth-of-type(even) {
    width: 37.5%;
    min-width: 17em;
  }
  .footer__container:last-child {
    width: 11em;
    position: relative;
    top: 0.4em;
  }
}
@media (min-width: 1280px) {
  body {
    max-width: 80em;
  }
}/*# sourceMappingURL=coffee-shop-home.css.map */